.title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--text-light);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  padding: 20px;
  width: 100%;
  max-width: 500px;
}

.input-container {
  position: relative;
}

.label {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  font-size: 1rem;
  font-style: italic;
  color: var(--text-dark);
  transition: all 0.2s ease-in-out;
}

.input {
  padding: 0 20px;
  border: 1px solid var(--black);
  border-radius: 4px;
  width: 100%;
  height: 50px;
  background-color: var(--white);
  font-family: 'syne-bold', sans-serif;
  font-size: 1.25rem;
  color: var(--text-dark);
}

.input:focus + .label,
.filled + .label {
  transform: none;
  top: -25px;
  left: 0;
  color: var(--text-light);
}

.error {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1rem;
  color: var(--brick);
}

.error + .question {
  display: none;
}

.question {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.question svg {
  font-size: 1.25rem;
  color: var(--brick);
}

.tooltip {
  display: none;
  position: absolute;
  bottom: 25px;
  right: -20px;
  width: 300px;
  padding: 10px;
  background-color: var(--gray);
  color: var(--text-dark);
  border-radius: 4px;
  margin: 0;
  text-align: center;
}

.question:hover .tooltip {
  display: block;
}

.button {
  padding: 0 20px;
  border: none;
  border-radius: 4px;
  width: 100%;
  height: 50px;
  background-color: var(--coral);
  font-size: 1.125rem;
  font-weight: bold;
  color: var(--text-dark);
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button:hover,
.button:disabled {
  color: var(--white);
  background-color: var(--brick);
}

.button:disabled {
  cursor: not-allowed;
}

.text {
  font-size: 1.25rem;
  color: var(--text-light);
  text-align: center;
  padding: 0 20px;
  max-width: 500px;
}

.text a {
  color: var(--coral);
  text-decoration: none;
}

.text a:hover {
  text-decoration: underline;
}

.google {
  border: none;
  background-color: var(--white);
  max-width: 460px;
  font-size: 1rem;
  color: #f90101;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.google svg {
  font-size: 1.5rem;
  color: #0266c8;
  transition: all 0.2s ease-in-out;
}

.google:hover svg {
  color: var(--white);
}

.spinner {
  font-size: 4rem;
  color: var(--coral);
}

.redirect {
  font-size: 1rem;
  color: var(--text-light);
  margin-top: 30px;
}
