@import './variables.css';

/* FONTS */
@font-face {
  font-family: 'syne-bold';
  src: url('./assets/fonts/Syne-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'syne-extrabold';
  src: url('./assets/fonts/Syne-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'syne-medium';
  src: url('./assets/fonts/Syne-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'syne-regular';
  src: url('./assets/fonts/Syne-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'syne-semibold';
  src: url('./assets/fonts/Syne-SemiBold.ttf') format('truetype');
}

html,
body,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'syne-regular', sans-serif;
  background-color: var(--bg-dark);
  background-image: linear-gradient(
      rgb(50, 63, 75, 1),
      rgb(50, 63, 75, 0.95),
      rgb(50, 63, 75, 0.9) 100%
    ),
    url('./assets/images/background.jpg');
  background-size: cover;
  background-position: top;
}

h1 {
  font-family: 'syne-bold', sans-serif;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

h2 {
  font-family: 'syne-bold', sans-serif;
  font-size: 1.75rem;
  margin-bottom: 20px;
}

h3 {
  font-family: 'syne-bold', sans-serif;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

p {
  font-family: 'syne-regular', sans-serif;
  font-size: 1.25rem;
  margin-bottom: 20px;
  line-height: 1.5;
}

p:last-child {
  margin-bottom: 0;
}

button {
  font-family: 'syne-bold', sans-serif;
}

.fixed-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 108px 0 68px;
  min-height: 100vh;
}

::selection {
  color: var(--black);
  background-color: var(--coral);
}
