@import './variables.css';

/* FONTS */
@font-face {
  font-family: 'syne-bold';
  src: url('./assets/fonts/Syne-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'syne-extrabold';
  src: url('./assets/fonts/Syne-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'syne-medium';
  src: url('./assets/fonts/Syne-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'syne-regular';
  src: url('./assets/fonts/Syne-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'syne-semibold';
  src: url('./assets/fonts/Syne-SemiBold.ttf') format('truetype');
}

html,
body,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'syne-regular', sans-serif;
  background-color: var(--bg-dark);
}

button {
  font-family: 'syne-bold', sans-serif;
}
