:root {
  --black: #323f4b;
  --white: #f1f1f1;
  --coral: #e28e8f;
  --brick: #a14c57;
  --brown: #816c79;
  --gray: #97aabd;

  --text-light: var(--white);
  --text-dark: var(--black);
  --bg-light: var(--white);
  --bg-dark: var(--black);
}
