.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.nav-top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  height: 40px;
  padding: 0 20px;
  background-color: var(--gray);
}

.scrolled:not(.menu-open) .nav-top {
  padding-right: 80px;
}

.nav-top a {
  display: block;
  font-family: 'syne-medium', sans-serif;
  font-size: 1.125rem;
  color: var(--black);
  text-decoration: none;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.nav-top a:hover {
  color: var(--brick);
}

.nav-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: var(--white);
}

.logo h1 {
  line-height: 1;
  margin: 0;
}

.scrolled:not(.menu-open) .logo h1 {
  position: absolute;
  top: -5px;
}

.logo a {
  color: var(--white);
  text-decoration: none;
}

.scrolled:not(.menu-open) .logo a {
  font-size: 1.75rem;
  color: var(--black);
}

.nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.menu-button {
  color: var(--white);
  border: none;
  cursor: pointer;
  font-size: 2rem;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  transition: color 0.2s ease-in-out;
}

.scrolled:not(.menu-open) .menu-button {
  position: absolute;
  top: 0;
  right: 20px;
  color: var(--black);
}

.scrolled:not(.menu-open) .menu-button:hover {
  color: var(--brick);
}

.menu-open .menu-button {
  color: var(--black);
}

.menu-button:hover {
  color: var(--coral);
}

.menu-open .menu-button:hover {
  color: var(--white);
}

.dropdown-menu {
  position: absolute;
  top: 40px;
  right: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: var(--gray);
  background-image: linear-gradient(
      rgb(151, 170, 189, 1),
      rgb(151, 170, 189, 0.95),
      rgb(151, 170, 189, 0.9) 100%
    ),
    url('../../assets/images/background.jpg');
  background-size: cover;
  background-position: top;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.dropdown-menu .menu-button {
  position: absolute;
  top: 15px;
  border: 2px solid var(--black);
  border-radius: 4px;
}

.dropdown-menu .menu-button:hover {
  color: var(--black);
  background-color: var(--white);
}

.dropdown-menu a {
  display: block;
  font-family: 'syne-extrabold', sans-serif;
  font-size: 1.5rem;
  color: var(--black);
  text-decoration: none;
  position: relative;
  transition: all 0.2s ease-in-out;
  border-radius: 4px;
}

.dropdown-menu a:hover {
  background-color: var(--white);
}

.active-link {
  color: var(--white) !important;
  pointer-events: none;
}

.logout-button {
  border: none;
  background-color: transparent;
  color: var(--white);
  cursor: pointer;
  font-family: 'syne-bold', sans-serif;
  font-size: 1.25rem;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.logout-button {
  color: var(--black);
}

.logout-button:hover {
  color: var(--brick);
}
